
.search-input {
  width: 400px;
  margin: 20px 0;
}
.search-input input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  background-color: transparent;
  color: white;
}


.light .search-input input {
  border-color: black;
  color: black;
}
.search-input input:focus {
  outline: none !important;
  box-shadow: none !important;
}

.products {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  width: 200px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  text-align: center;
  height: 260px;
}

.card img {
  width: 180px;
  height: 140px;
  object-fit: contain;
  display: block;
  margin: auto;

}

.card h3 {
  font-size: 18px;
}

.card p {
  font-size: 16px;
}
.light .card {
  border: 1px solid black;
}

.light .search-input input {
  color: black;
  border: 1px solid black;
  background-color: white;
}
.light h1 {
  color: black;
}

.dark h1 {
  color: white;
}
.light .navbar-title h2 {
  color: white;
}

.dark .navbar-title h2 {
  color: black;
}